[MASTER]
indent-string='  '
max-line-length = 250

[MESSAGES CONTROL]
disable = import-outside-toplevel, global-statement, missing-docstring, invalid-name, fixme, bare-except, broad-exception-caught, import-error

[DESIGN]
max-branches=15
max-bool-expr=6
max-attributes=10
